<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>A Blog Like Medium But Not</title>
    <link href="https://fonts.googleapis.com/css?family=Crimson+Text" rel="stylesheet"> <!--Font from Google, slowest part of page load-->
</head>
<body>

<header>
    <div>
    	<div> 
    		<h1>Travelers and Fools</h1>
  			<h4>By Heather Phelps, Full Stack Trainee</h4>
    	</div>
    </div>

    <div>
        <div>
            <hr>
        </div>
    </div>
</header>

<content>
    <div>
        <div>
            <h2>First Blog Entry</h2>
        </div>
    </div>

    <article>
        <div>
        	<p> The most powerful magician the kingdom had seen in a hundred years was first noticed on a muddy street near the castle walls by a young nobleman with some magic of his own.</p>
        	<p> The damp morning air clung to the cool stone walls. The tips of the spires standing high above the streets were shrouded in early fog that would dissipate as the morning drew on. The cobbled avenue was covered with a deep layer of dirt and muck tracked in from the countryside and turned to mud after a heavy rain.</p>
			<p> The street was lined with market stalls huddled against the stone walls of the castle. Close to the main gate and the deep pockets of the gentry, plump farmers with ruddy cheeks manned booths filled with the abundance of the countryside: vegetables with roots caked with dirt, freshly churned butter and thick creamy milk, and eggs heaped high on wooden platters. The other end of the street held sad imitations: paling produce peppered with wilted leaves and insect damage, milk discolored and fouled, small and misshapen eggs lying broken in their crates.</p>
			<p> Behind one of the paltry stalls far from the main gate, a budding young woman named Sassa lounged indolently on a sagging wooden crate. Her skirts were hiked up to expose skinned knees, and she had a black eye and a swollen lip. The marks on her face did not hide her big hazel eyes or her fine prominent cheekbones. </p>
			<p> Roused in the wee hours to help her mother pull the vegetable cart into position from their tired allotment a half mile outside the main gate, Sassa was still in the cool air, her eyes half lidded as she stared into space. She was a quiet, dreamy girl who watched what others did and learned from their actions. </p>
			<p> Her mother, Geenola, was worn by a hard life of manual labor and years of chewing khat, a powerful sedative drug that rendered the user sleepy, euphoric, and devoid of ambition. Her unkempt hair was dirty and her cracked hands were bleeding. She was stacking potatoes in a desultory manner when she noticed a fat man linger near the stall, his eyes on Sassa. </p>
			<p> The man licked his lips, and Geenola’s eyes lit up. She nodded solicitously and smiled at him, eagerly wiping her hands on her stained apron and motioning for Sassa to come closer.</p>
			<p> Sassa frowned. She knew what the man wanted, and she did not like his little mustache or his beady eyes or the way he was sweating in the cool morning air. She hunched further down as dread filled her stomach like water flowing into a bucket. For years, Geenola had used her daughter to feed her khat habit, sending the young girl into dark places with sweating, smelling men in exchange for money. </p>
			<p> Sassa had been carried, shoved, dragged, bludgeoned, strangled, stabbed, pinched, prodded, and slapped; always she lost the battle of strength and her pleas fell on deaf ears. No one helped her. Her mother accepted payment with grasping hands. Neighbors witnessed the scene with rueful shaking of the head, as if she was deliberately being disruptive and should not protest her fate. Innkeepers minding shoddy establishments turned a blind eye as she was carried through the back door. Her fear and fight served to spice the meal they had purchased. </p>
			<p> Sassa was powerless, helpless, and friendless until a week before, when a man sensed her disgust after Geenola took his money at an inn near the allotment. He dragged Sassa into the barn behind the inn, digging his fingers into her arm hard enough to leave bruises for two weeks, but then he seemed to notice something different about her, something that gave him pause.</p>
			<p> He lost interest in her before any deed was done, and left her fully clothed. Sassa had a decent night’s sleep in the hayloft. In the morning, a hungover Geenola found her still slumbering, and they went in search of breakfast, both happy and content in their own way.</p>
			<p> The next night, all the men in the bar seemed to feel her revulsion, and stayed at arm’s length despite Geenola’s best efforts to strip Sassa’s shirt to show her budding wares. A few men approached, lips wet and eyes black, money in hand, but Sassa found she could drive them away with a mental push. Coins were put back into pockets, they turned away and left her alone. </p>
			<p> No matter what her mother did or promises she made, the men would not pay. An unhappy Geenola had been forced to expend more effort harvesting vegetables to earn money for her drug habit, so she was eager for the fat man to pay for Sassa’s services.</p>
			<p> "Fifty shillings for a tumble in the coop there." Geenola nodded towards a dilapidated chicken shed crammed into a space between the castle wall and the street. Rotten straw littered the rickety ramp leading into it, but it would provide privacy.</p>
			<p> The man's eyes flicked to the shed, weighing the space, and then returned to Sassa. The pupils in his eyes grew bigger, shrouding his irises with black. At his look, Sassa felt a roiling mass of anger surge within her chest.</p>
			<p> "Twenty," the man countered.</p>
			<p> "Thirty." Geenola stuck a hand on her hip and stood firm.</p>
			<p> The fat man licked his lips, nodded, then fumbled in his pocket. </p>
        </div>
        <div>
        	<hr>
    	</div>
    </article>
</content>

<footer>
    <div style="text-align:center;">
        End of page. Thank you for reading! 
    </div>
    <div>
        <hr>
    </div>
</footer>

</body>
</html>
