{% extends "base_logged.html" %}

{% block content %}

    <div class="row">
        
        <div class="col-md-12">
            <h2>Edit Blog Post</h2>
        </div>

    </div>

    <div class="row">
        
        <div class="col-md-12">
            <div class="error"> {{error}} </div>
        </div>

    </div>

    <div class="row">
        
        <div class="col-md-12">

            <form method="post">

                <div class="form-group">
                    <label for="subject">Subject</label>
                    <input type="text" class="form-control" name="subject" value="{{subject}}">
                </div>

                <div class="form-group">
                    <label for="content">Content</label>
                    <textarea rows="4" class="form-control" name="content">{{content}}</textarea>
                </div>

                <div class="row">
                    <div class="col-xs-6">
                        <button type="submit" class="btn btn-success mostly-opaque">Submit</button>
                        <a href="/" class="btn btn-default" role="button">Cancel</a>
                    </div>
                
                    <div class="col-xs-6 text-right">
                        <a href="/deletepost/{{post_id}}" role="button" class="btn btn-danger mostly-opaque">Delete post</a>
                    </div>
                <div>

            </form>

        </div>

    </div>


    <!--form method="post">
      <label>
        <div>Subject:</div>
        <input type="text" name="subject" value="{{subject}}">
      </label>

      <label>
        <div>Text:</div>
        <textarea rows="4" cols="50" name="content" value="{{content}}">{{content}}</textarea>
      </label>

      <div class="error">{{error}}</div>
      <div><a href="/deletepost/{{post_id}}">Delete post</a></div>
      <div>
          <input type="submit"> <a class="cancel_button" href="/">Cancel</a>
      </div>
    </form-->
    <div class="row">
        
        <div class="col-md-12">
            <h2><br></h2>
        </div>

    </div>

{% endblock %}
